:root {
  --primary-color: #657d71;
  --secondary-color: #65717d;
  --white-color: #ffffff;
  --black-color: #000;
  --light-color: #eee;
  --dark-color: #333;
  --success-color: rgb(56, 78, 67);
  --feature-color: rgba(182, 172, 35, 0.952);

  --primary-font-family: "Roboto Condensed", sans-serif;
  --secondary-font-family: "Xanh Mono", monospace;
  --tertiary-font-family: "Goldman", cursive;
}
/* font-family: 'Goldman', cursive;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Xanh Mono', monospace; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--primary-font-family);

  line-height: 1.7rem;
  background-color: var(--light-color);
}

a {
  color: var(--black-color);
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin: 10px 0;
}

ul {
  list-style: none;
}
.wrapper {
  display: flex;
  max-width: 1400px;
  justify-content: space-between;
}

/* side bar */
.main-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  width: 300px;
  min-width: 290px;
  top: 0;
  left: 0;
  border-right: var(--secondary-color) 2px solid;
}

.main-nav header {
  font-family: var(--tertiary-font-family);
  position: fixed;
  font-size: 1.rem;
  background-color: #65717d;
  padding: 12px;
  margin-bottom: 2rem;
  height: 10%;

}

.main-nav ul {
  margin-top: 4.2rem;
  height: 85%;
}
.main-nav ul {
  overflow: scroll;
  height: 100%;
  display: block;
}
.nav-link {
  height: 90%;}

.main-nav li {
  padding: 1rem;
  border-top: 1px solid var(--black-color);
}


.main-doc {
  margin-left: 310px;
  padding: 1rem;
}

.main-section header {
  font: 1.8em sans-serif;
  margin-top: 2rem;
}

.main-section header li {
  margin-left: 400px;
  background-color: #65717d;
}

.main-doc li {
  /* background-color: #65717D; */
  margin-left: 30px;
}

code {
  margin: 0 auto;
}
